In [1]:
print("hello ")

hello

### Dataframe Brakdown

In [7]:
import pandas as pd 

data = [
    ['Nissan', 'Stanza', 1991, 138, 4 , 'MANUAL', 'sedan', 2000],
    ['Hyundai', 'Sonata', 2017, None, 4, 'AUTOMATIC', 'Sedan', 27150],
    ['Lotus', 'Elise', 2010, 218, 6, 'MANUAL', 'Pickup', 32340],
    ['GMC', 'Acadia', 2017, 194, 4, 'AUTOMATIC', '4dr SUV', 34450],
    ['Nissan', 'Frontier', 2017, 261, 6, 'MANUAL', 'Pickup', 32340]
]

#Could have a list of dictionaries, this way you don't need columns 
data = [
    {
        "Make": "Nissan",
        "Model": "Stanza",
        "Year": 1991,
        "Engine HP": 138.0    }
]
columns = [
    'Make', 'Model', 'Year', 'Engine HP', 'Engine Cylinders',
    'Transmission Type', 'Vehicle_Stlye', 'MSRP'
]

df = pd.DataFrame(data, columns = columns)
df

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Stlye,MSRP
0,Nissan,Stanza,1991,138.0,4,MANUAL,sedan,2000
1,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150
2,Lotus,Elise,2010,218.0,6,MANUAL,Pickup,32340
3,GMC,Acadia,2017,194.0,4,AUTOMATIC,4dr SUV,34450
4,Nissan,Frontier,2017,261.0,6,MANUAL,Pickup,32340

### Series

In [8]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [11]:
df.loc[[3, 4]]

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Stlye,MSRP
3,GMC,Acadia,2017,194.0,4,AUTOMATIC,4dr SUV,34450
4,Nissan,Frontier,2017,261.0,6,MANUAL,Pickup,32340

Element - Wise Operations

In [14]:
df['Engine HP'] / 100

0    1.38
1     NaN
2    2.18
3    1.94
4    2.61
Name: Engine HP, dtype: float64

In [16]:
df[df['Year'] >= 2015]

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Stlye,MSRP
1,Hyundai,Sonata,2017,NaN,4,AUTOMATIC,Sedan,27150
3,GMC,Acadia,2017,194.0,4,AUTOMATIC,4dr SUV,34450
4,Nissan,Frontier,2017,261.0,6,MANUAL,Pickup,32340

In [20]:
df[
   ( df['Make'] == 'Nissan') & (df['Year'] >= 2015)
 ]

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle_Stlye,MSRP
4,Nissan,Frontier,2017,261.0,6,MANUAL,Pickup,32340

In [21]:
'STRr'.lower()

'strr'

In [25]:
df.rename(columns={'Vehicle_Stlye': 'Vehicle_Style'}, inplace = True)
#df['Vehicle_Style'] = df['Vehicle_Stlye]

In [26]:
df['Vehicle_Style'].str.lower()

0      sedan
1      sedan
2     pickup
3    4dr suv
4     pickup
Name: Vehicle_Style, dtype: object

In [27]:
df['Vehicle_Style'].str.replace(' ', '_')

0      sedan
1      Sedan
2     Pickup
3    4dr_SUV
4     Pickup
Name: Vehicle_Style, dtype: object

In [28]:
df.nunique()

Make                 4
Model                5
Year                 3
Engine HP            4
Engine Cylinders     2
Transmission Type    2
Vehicle_Style        4
MSRP                 4
dtype: int64

In [31]:
df['Make'].unique

<bound method Series.unique of 0     Nissan
1    Hyundai
2      Lotus
3        GMC
4     Nissan
Name: Make, dtype: object>

SELECT 
    transmission_type,
    AVG (MSRP)
FROM
    cars
GROUP BY 
    transmission_type

In [32]:
df.groupby('Transmission Type').MSRP.mean()

Transmission Type
AUTOMATIC    30800.000000
MANUAL       22226.666667
Name: MSRP, dtype: float64

Get the NumPY arrays

In [34]:
df.Make.values

array(['Nissan', 'Hyundai', 'Lotus', 'GMC', 'Nissan'], dtype=object)

In [36]:
#Convert dataframe to dictionary
df.to_dict(orient = 'records')

[{'Make': 'Nissan',
  'Model': 'Stanza',
  'Year': 1991,
  'Engine HP': 138.0,
  'Engine Cylinders': 4,
  'Transmission Type': 'MANUAL',
  'Vehicle_Style': 'sedan',
  'MSRP': 2000},
 {'Make': 'Hyundai',
  'Model': 'Sonata',
  'Year': 2017,
  'Engine HP': nan,
  'Engine Cylinders': 4,
  'Transmission Type': 'AUTOMATIC',
  'Vehicle_Style': 'Sedan',
  'MSRP': 27150},
 {'Make': 'Lotus',
  'Model': 'Elise',
  'Year': 2010,
  'Engine HP': 218.0,
  'Engine Cylinders': 6,
  'Transmission Type': 'MANUAL',
  'Vehicle_Style': 'Pickup',
  'MSRP': 32340},
 {'Make': 'GMC',
  'Model': 'Acadia',
  'Year': 2017,
  'Engine HP': 194.0,
  'Engine Cylinders': 4,
  'Transmission Type': 'AUTOMATIC',
  'Vehicle_Style': '4dr SUV',
  'MSRP': 34450},
 {'Make': 'Nissan',
  'Model': 'Frontier',
  'Year': 2017,
  'Engine HP': 261.0,
  'Engine Cylinders': 6,
  'Transmission Type': 'MANUAL',
  'Vehicle_Style': 'Pickup',
  'MSRP': 32340}]